HTTP_PORT=8080


APP_ENV = DEVELOPMENT
APP_NAME = for_learning
LOG_NAME = for_learning
HTTP_TIMEOUT = 30
MAX_REQUEST_LIMIT = 50


REDIS_HOST=127.0.0.1
REDIS_PORT=6379

NATS_STATUS=1
NATS_HOST=127.0.0.1:4222